{% extends "cb_base.html" %}

{% block title %}Confirm Deletion{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Confirm Deletion of User</h2>

    <div class="alert alert-warning text-center mt-3">
        <strong>Warning!</strong> Are you sure you want to delete the user "{{ user_to_delete.username }}" and all their sessions and messages?
    </div>    

    <div class="d-flex justify-content-center mt-4">
        <form method="POST" class="d-inline-block">
            <button type="submit" class="btn btn-danger">Delete User</button>
        </form>
        <a href="{{ url_for('cb_delete_user') }}" class="btn btn-secondary ml-3 d-inline-block">Cancel</a>
    </div>
</div>
{% endblock %}
