{% extends "cb_base.html" %}

{% block content %}
<div class="container text-center">
    <div class="container mt-5">
        <h2>Welcome, {{ username }}</h2>
        <p>Start your chatbot session below or view past conversations.</p>
        <a href="/chat" class="btn btn-success">Start Chatbot</a>
        <button onclick="location.href='/create_admin'" class="btn btn-success">Add User</button>
        <a href="/logout" class="btn btn-danger">Logout</a>
    </div>
</div>

{% endblock %}
