{% extends "cb_base.html" %}

{% block content %}
<div class="container text-center">
    <h1>Welcome, Admin</h1>
</div>
<nav class="container text-center">
    <ul>
            <button onclick="location.href='/chat'" class="btn btn-primary">Start Chatbot</button>
            <button onclick="location.href='/logout'" class="btn btn-danger">Logout</button>
            <button onclick="location.href='/create_admin'" class="btn btn-success">Add New Admin</button>
    </ul>
    
</nav>
{% endblock %}
