{% extends "base.html" %}

{% block title %}User{% endblock %}

{% block content %}
    <div class="container my-5">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-info">
                    {% for msg in messages %}
                        <p>{{ msg }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <div class="card shadow-sm">
            <div class="card-body">
                <h2 class="card-title mb-4 text-center">Welcome, {{ username }}</h2>
                <!-- User email form -->
                <form action="#" method="POST" class="needs-validation" novalidate>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email:</label>
                        <input type="email" name="email" id="email" class="form-control" placeholder="Enter Email" value="{{ email if email }}" required>
                        <div class="invalid-feedback">Please enter a valid email.</div>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

